<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="plantilla/template :: head">
<meta charset="UTF-8">
<title>Recurso Humano</title>
</head>
<body class="body1">
	<header th:replace="plantilla/template :: header"></header>
	<main class="main col-md-20 ml-sm-auto col-lg-10 px-md-4">
		<div class="container">
			<h1 th:text="${titulo}"></h1>
		</div>
		<!--  BOTONES-->
		<div id="botones" class="container" th:with="elegirzona=${listazonarrhh[0]}">
			<!-- Button modal -->
			<a sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_ATTEND')" class="btn btn-info btn-sm rounded-pill text-white shadow" data-toggle="modal" data-target="#saveModal"
				th:text="'Nuevo registro'" title="Crear nuevo registro de un funcionario"></a>
			<!-- Button excel --> 
			<a id="excel" class="float-right" th:href="@{/views/DataSpi/RRHH/(format=xlsx)}" title="Generar archivo Excel"> 
				<svg
					width="2.3em" height="2.3em" viewBox="0 0 16 16" class="bi bi-file-earmark-spreadsheet-fill text-success" fill="currentColor">
					<path fill-rule="evenodd" d="M2 3a2 2 0 0 1 2-2h5.293a1 1 0 0 1 .707.293L13.707 5a1 1 0 0 1 .293.707V13a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3zm7 2V2l4 4h-3a1 1 0 0 1-1-1zM3 8v1h2v2H3v1h2v2h1v-2h3v2h1v-2h3v-1h-3V9h3V8H3zm3 3V9h3v2H6z" />
				</svg>
			</a>
			<!-- Button pdf -->
			<a  id="pdf" class="float-right" th:href="@{'/views/DataSpi/RRHH/listaporzona/'+ ${elegirzona.idzona.idzona} + '/?format=pdf'}" title="Exportar a Pdf e Imprimir" target="black"> 
				<svg width="2.3em" height="2.3em" viewBox="0 0 16 16" class="bi bi-file-earmark-text-fill text-danger" fill="currentColor">
					<path fill-rule="evenodd" d="M2 3a2 2 0 0 1 2-2h5.293a1 1 0 0 1 .707.293L13.707 5a1 1 0 0 1 .293.707V13a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3zm7 2V2l4 4h-3a1 1 0 0 1-1-1zM4.5 8a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5z" />
				</svg>
			</a>
		</div>
		<br>
		<!-- TABLAS RRHH-->
		<div class="container">
			<div class="accordion" id="accordionExample">
				<div class="card" >
					<div class="card-header" id="headingOne">
						<h2 class="mb-0">
							<button class="btn btn-link btn-block" type="button" data-toggle="collapse" data-target="#collapseOne"
								aria-expanded="true" aria-controls="collapseOne">
								<h4 class="text-info text-center" th:text="${titulo1}"></h4>
							</button>
						</h2>
					</div>
					<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
						<div class="card-body bg-secondary">
							<div class="table-responsive">
								<table id="" class="display nowrap table table-bordered table-striped table-hover" style="width: 100%">
									<thead class="thead bg-info text-white">
										<tr>
											<th class="ocultarcolunma" scope="col">ID</th>
											<th scope="col" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_ATTEND')">EDITAR</th>
											<th scope="col">Nombres</th>
											<th scope="col">Apellidos</th>
											<th scope="col">Cédula</th>
											<th scope="col">SPI</th>
											<th scope="col">Cargo</th>
											<th scope="col">Modalidad de trabajo</th>
											<th scope="col">Unidad</th>
											<th scope="col">Número telefónico</th>
											<th scope="col">Email</th>
											<th scope="col">Dirección de domicilio</th>
										</tr>
									</thead>
									<tbody class="tbody">
										<tr th:each="item:${listazonarrhh}">
											<th class="ocultarcolunma" scope="row" th:text="${item.idusuario}"></th>
											<td sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_ATTEND')">
												<div align="center">
													<a th:href="@{edit/(idusuario=${item.idusuario})}" class="editModal3 shadow" title="Editar" target="black">
														<svg width="1.3em" height="1.3em" viewBox="0 0 16 16"class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
															<path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
															<path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
														</svg>
													</a>
												</div>
											</td >
											<td th:text="${item.nombres}"></td>
											<td th:text="${item.apellidos}"></td>
											<td th:text="${item.cedula}"></td>
											<td th:text="${item.idspi.nombre}"></td>
											<td th:text="${item.cargo}"></td>
											<td th:text="${item.idmodalidad.nombre}"></td>
											<td th:text="${item.idunidad.nombre}"></td>
											<td th:text="${item.telefono}"></td>
											<td th:text="${item.email}"></td>
											<td th:text="${item.direccion}"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<footer th:replace="plantilla/template :: footer"></footer>

</body>
</html>