<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head th:frament="head">
<meta charset="UTF-8">
<title>SDH BD SPI</title>

<!-- Bootstarp Básico -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

<!-- CSS Básico Estilos-->
<link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
	<!--  BARRA DE NAVEGACION-->
	<header th:fragment="header">

		<nav class="navbar navbar-expand-lg navbar-dark bg-info shadow-lg" >
			<div class="container">
				<a class="navbar-brand"><img class="imagenlogo" th:src="@{/images/sdh.png}" /></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				
			</div>
		</nav>
	</header>
	<!-- CONTENIDO -->
	<div class="container"></div>
	<!-- PIE DE PAGINA -->
	<footer th:fragment="footer" class="bg-info text-center text-dark fixed-bottom">

		<div class="container">
			<p>Base-DatosSPI &copy; -MMDH-<label id="footertext"></label></p >
		</div>
		<!-- Jquery Básico -->
		<script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/home.js}" src="../static/js/home.js"></script>
	</footer>

</body>
</html>