<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="plantilla/template :: head">
<meta charset="UTF-8">
<title>Recurso Humano</title>
</head>
<body class="body1">
	<header th:replace="plantilla/template :: header"></header>
	<main class="main col-md-9 ml-sm-auto col-lg-10 px-md-4">
		<div class="container">
			<h1 th:text="${titulo}"></h1>
		</div>
		<!--  BOTONES-->
		<div id="botones" class="container" >
			<!-- Button modal -->
			<a class="btn btn-info btn-sm rounded-pill text-white shadow"
						data-toggle="modal" data-target="#saveunidadModal"
						th:text="'Crear nuevo registro de Unidad'" title="Crear nueva unidad de la SDHI">
						</a> 
		
		</div>
		<br>
		<!-- TABLAS RRHH-->
		<div class="container">
		<div class="table-responsive">
						<table id="" class="display nowrap table table-bordered table-striped table-sm table-hover" style="width: 100%">
							<thead class="thead bg-info text-white">
								<tr>
									<th scope="col">ID</th>
									<th scope="col">EDITAR</th>
									<th scope="col">ELIMINAR</th>
									<th scope="col">Instituciones</th>
								</tr>
							</thead>
							<tbody class="tbody">
								<tr th:each="item:${listaunidad}">
									<th scope="row" th:text="${item.idunidad}"></th> 
									<td>
										<div align="center">
											<a th:href="@{editunidad/(idunidad=${item.idunidad})}" class="editModal12 shadow" title="Editar" target="black">
												<svg width="1.3em" height="1.3em" viewBox="0 0 16 16"class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
													<path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
													<path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
												</svg>
											</a>
										</div>
									</td>
									<td>
										<a th:onclick="Deleteunidad([[${item.idunidad}]])" title="Eliminar" target="black">
											<svg xmlns="http://www.w3.org/2000/svg" width="1.3em" height="1.3em" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16" title="Editar" target="black">
											  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
											  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
											</svg>
										</a >
									</td>
									<td th:text="${item.nombre}"></td>
								</tr>
							</tbody>
						</table>
					</div>
		<!-- FORMULARIO MODALES GUARDAR-->
		<div class="container">
			<div class="guardar">
				<form th:action="@{/views/DataSpi/Admin/saveunidad}" th:object="${unidad}" method="post" 
				class="needs-validation" novalidate>
					<div class="modal fade" id="saveunidadModal" tabindex="-1"
						role="dialog" aria-labelledby="exampleModalLabel"
						aria-hidden="true">
						<div class="modal-dialog modal-lg">
							<div class="modal-content">
								<div class="modal-header bg-info  text-white">
									<img class="imagenlogo" th:src="@{/images/sdh.png}" />
									<h5 class="modal-title" th:text="'Formulario: Añadir Unidad'" id="exampleModalLabel"></h5>
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<!-- FORMULARIO MODAL-->
									<div class="form-group row">
										<label class="col-md-4" for="nombreunidad">Nombre:</label>
										<input type="hidden" th:field="*{idunidad}" id="idunidad"name="idunidad">
										<input type="text" th:field="*{nombre}" id="nombreunidad"
										minlength="2" maxlength="35" class="form-control form-control-sm col-md-7 shadow" name="nombreunidad" required>
										<small class="invalid-feedback col-md-8">Agregue una unidad!</small>
									</div>
									<div class="modal-footer bg-info">
										<button type="button" class="btn btn-primary btn-sm rounded-pill shadow" data-dismiss="modal">Cancelar</button>
										<input type="submit" id="GuardarUnidad" class="btn btn-success btn-sm rounded-pill shadow" value="Guardar" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
				
			</div >
		</div >
		<!-- FORMULARIO MODALES EDITAR-->
		<div class="container">
			<div class="editar">
				<form th:action="@{/views/DataSpi/Admin/saveunidad}" th:object="${unidad}" method="post" 
				class="needs-validation" novalidate>
					<div class="modal fade" id="editarModal12" tabindex="-1"
						role="dialog" aria-labelledby="exampleModalLabel"
						aria-hidden="true">
						<div class="modal-dialog modal-lg">
							<div class="modal-content">
								<div class="modal-header bg-info  text-white">
									<img class="imagenlogo" th:src="@{/images/sdh.png}" />
									<h5 class="modal-title" th:text="'Formulario: Editar Unidad'" id="exampleModalLabel"></h5>
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<!-- FORMULARIO MODAL-->
									<div class="form-group row">
										<label class="col-md-4" for="nombreunidad">Nombre:</label>
										<input type="hidden" th:field="*{idunidad}" id="idunidad1"name="idunidad1">
										<input type="text" th:field="*{nombre}" id="nombreunidad1"
										minlength="2" maxlength="35" class="form-control form-control-sm col-md-7 shadow" name="nombreunidad1" required>
										<small class="invalid-feedback col-md-8">Agregue una unidad!</small>
									</div>
									<div class="modal-footer bg-info">
										<button type="button" class="btn btn-primary btn-sm rounded-pill shadow" data-dismiss="modal">Cancelar</button>
										<input type="submit" class="btn btn-success btn-sm rounded-pill shadow" value="Guardar Cambios" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div >
		</div >
			
			
		</div>
		
		<div class="container">
			<!-- MODAL DE VENTANA  FORMULARIO GUARDAR -->
		
			<!-- SIN IMPORTANCIA -->
			<input type="hidden" id="archivo" value="vacio_sdh.pdf">
			<input type="hidden" id="archivo1" value="vacio_sdh.pdf">
		</div>
	</main>
	<footer th:replace="plantilla/template :: footer"></footer>

</body>
</html>