<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/templatehome :: head">
<meta charset="UTF-8">
<title>Home</title>
</head>
<body class="body1">
	<header th:replace="plantilla/templatehome :: header"></header>
	<main class="main col-md-9 ml-sm-auto col-lg-10 px-md-4">
	<div class="container">
		
		<br> <br>

		<div class="row">
			<div class="col-8">
				<h1>Ministerio de la Mujer y Derechos Humanos</h1>
				<hr class="hr2">
				<h3>Dirección Administrativa</h3>
				<h4>Coordinación General Administrativa Financiera</h4>
				<h5>Base de Datos SPI</h5>
				<img class="imagenhome" th:src="@{/images/LogosEscudoE-SDH.png}" />
			</div>

			<div class="col-4">
				 <!-- CAMBIO POR AJAX JQuery THYMEMEAF -->
				<div class="card border-info shadow-lg" id="cardhome">
					<div class="card-header" ><h3>Filtrar Información</h3></div>
					<div class="card-body ">
						<h4 class="card-title">SPI DATA</h4>
							<form th:action="@{/views/DataSpi/Formulario/listaporspi/}" method="get" id="filtrarform" class="needs-validation" novalidate>	
								<div class="form-group">
									<label for="spiporzona">Zona:</label>
									<select class="custom-select custom-select-sm shadow" th:value="${zona.idzona}" name="spiporzona" id="spiporzona" required>
											<option selected disabled value="" >Seleccionar zona...</option>
										    <option th:each="zona:${listazona}" th:value="${zona.idzona}" th:text="${zona.nombre}"></option>
									</select>
									<div class="invalid-feedback col-md-8">Seleccionar una Zona!</div>
								</div>					
								<div class="form-group">
									<label for="idspi">SPI:</label> 
									<select class="custom-select custom-select-sm shadow"  name="idspi" id="idspi" required>
										<option selected disabled value="" >Seleccionar SPI...</option>
									</select>
									<div class="invalid-feedback col-md-10">No puede estar vacío Seleccionar un SPI!</div>
								</div>
								<input type="hidden" id="baseURL" th:value="@{/views/DataSpi/Formulario/listaporspi/}">
	                            <input type="submit" id="filtrar" class="btn btn-info  btn-sm rounded-pill shadow"  title="Filtra información de un SPI" value="Filtrar">
								
							</form>					
					</div>
				</div>
								
			</div>
		</div>
	</div>
	</main>
	<footer th:replace="plantilla/templatehome :: footer"></footer>
</body>
</html>